export MCP_PUBLIC_BASE_URL="https://mcp.artie.com"
export WORKOS_AUTHKIT_DOMAIN="https://loyal-explorer-16.authkit.app"
export WORKOS_AUTHKIT_DIAGNOSTIC_CLAIMS=false
export ARTIE_API_BASE_URL="https://api.artie.com"

if [ -f ".envrc-personal" ]; then
	echo ".envrc-personal exists, sourcing..."
	source .envrc-personal
fi
