openapi: 3.1.0
info:
  description: External API endpoints for Artie
  title: Artie API
  version: v1.0.53
servers:
- url: https://api.artie.com
paths:
  /column-hashing-salts:
    get:
      description: Lists all column hashing salts for the authenticated company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyColumnHashingSalt'
          description: OK
        "500":
          description: Internal Server Error
      summary: List column hashing salts
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Creates a new column hashing salt for the authenticated company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateColumnHashingSaltRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateColumnHashingSaltResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /column-hashing-salts/{uuid}:
    delete:
      description: Deletes a column hashing salt by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
    get:
      description: Retrieves a column hashing salt by UUID, including the decrypted
        salt. Requires company admin.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsColumnHashingSaltDetail'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates the name and description of a column hashing salt.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateColumnHashingSaltRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsColumnHashingSalt'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /column-hashing-salts/{uuid}/preview:
    post:
      description: Hashes a sample string value with this salt using the same function
        used by Artie's pipelines (HMAC-SHA256 keyed on the salt, or SHA-256 if the
        salt is empty). Returns the hex-encoded hash.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPreviewColumnHashingSaltRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPreviewColumnHashingSaltResponse'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Preview a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
  /connectors:
    post:
      description: Creates a new source or destination connector for your Artie deployment.
        Configure database connections, authentication, and replication settings programmatically.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /connectors/{uuid}:
    delete:
      description: Permanently removes a connector and its associated configuration.
        This stops any active replication pipelines that depend on the connector.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
    get:
      description: Retrieves the full configuration and status of a connector by its
        unique identifier, including connection settings and current replication state.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates the configuration of an existing source or destination
        connector. Modify connection settings, credentials, or replication parameters
        for a running pipeline.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /connectors/{uuid}/detail:
    get:
      description: Returns detailed metadata for a specific table on the saved connector.
        Requires 'schemaName' and 'tableName' query parameters; 'isView' is optional.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsConnectorTableDetailResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch table detail for a saved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /connectors/{uuid}/generate-shadow-script:
    post:
      description: Generates the SQL script to create shadow tables required for Oracle
        change data capture (CDC). Run this script on your Oracle source before starting
        replication.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorGenerateShadowScriptRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorGenerateShadowScriptResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Generate Oracle shadow table script
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
  /connectors/{uuid}/postgres-drop-replication-slot:
    post:
      description: Drops a PostgreSQL replication slot that is inactive or orphaned.
        Use this to clean up stale replication slots that may be preventing WAL cleanup
        on the source.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorDropReplicationSlotRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Drop a PostgreSQL replication slot
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /connectors/{uuid}/start-dynamodb-export:
    post:
      description: Initiates a point-in-time export from Amazon DynamoDB for the specified
        connector. Use this to backfill your destination with existing DynamoDB table
        data.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorStartDynamoDBExportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorStartDynamoDBExportResponse'
          description: OK
        "500":
          description: Internal Server Error
      summary: Start a DynamoDB export
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /connectors/databases:
    post:
      description: Lists available databases on the target using an unsaved connector
        configuration. Useful during connector setup to discover existing databases.
        Response metadata may include Iceberg S3 table bucket maintenance defaults.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsConnectorFetchDatabasesResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch databases for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /connectors/new-database:
    post:
      description: Creates a new database on the target destination using a connector
        configuration that has not yet been saved. Useful during initial setup to
        prepare the destination.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateDatabaseRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a database on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /connectors/new-schema:
    post:
      description: Creates a new schema on the target destination using a connector
        configuration that has not yet been saved. Useful during initial setup to
        organize destination tables.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateSchemaRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a schema on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /connectors/new-snowflake-warehouse:
    post:
      description: Creates a new Snowflake virtual warehouse using an unsaved connector
        configuration. Useful during initial setup to provision compute resources
        for data replication.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateSnowflakeWarehouseRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a Snowflake warehouse on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /connectors/ping:
    post:
      description: Tests network connectivity and authentication for a connector configuration
        before saving it. Use this to validate connection settings during connector
        setup.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorPingResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
      summary: Ping a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /connectors/postgres-publications:
    post:
      description: Lists logical replication publications on a PostgreSQL source using
        an unsaved connector configuration. Useful during connector setup to let users
        select an existing publication.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchPostgresPublicationsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyPostgresPublication'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: List PostgreSQL publications for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /connectors/schemas:
    post:
      description: Lists available schemas in a specific database using an unsaved
        connector configuration. Useful during connector setup to discover existing
        schemas.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchSchemasRequest'
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch schemas for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /connectors/tables:
    post:
      description: Lists available tables in a specific database and schema using
        an unsaved connector configuration. Results are cached when a connector UUID
        is provided.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchTablesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyConnectorTable'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch tables for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /data-catalog/search:
    post:
      description: Searches across the company's data catalog using full-text search.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsDataCatalogSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyDataCatalogMatch'
          description: OK
        "500":
          description: Internal Server Error
      summary: Search the data catalog
      tags:
      - Data Catalog
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
  /encryption-keys:
    get:
      description: Lists all encryption keys for the authenticated company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyEncryptionKey'
          description: OK
        "500":
          description: Internal Server Error
      summary: List encryption keys
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Creates a new encryption key for the authenticated company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateEncryptionKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateEncryptionKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /encryption-keys/{uuid}:
    delete:
      description: Deletes an encryption key by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
    get:
      description: Retrieves an encryption key by UUID, including the decrypted key.
        Requires company admin.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsEncryptionKeyDetail'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates the name and description of an encryption key.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateEncryptionKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsEncryptionKey'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /ingestion-api-keys:
    post:
      description: Creates a new ingestion API key for a source reader. Returns the
        key and its secret (only shown once).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateIngestionAPIKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateIngestionAPIKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /ingestion-api-keys/{uuid}:
    delete:
      description: Deletes an ingestion API key by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Delete an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
    post:
      description: Updates an existing ingestion API key by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateIngestionAPIKeyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsIngestionAPIKey'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /pipelines:
    get:
      description: Returns pipelines for the authenticated company, optionally filtered
        by environment.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyLightPipeline'
          description: OK
        "500":
          description: Internal Server Error
      summary: List pipelines
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Creates a new pipeline from a pipeline payload.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /pipelines/{uuid}:
    delete:
      description: Deletes a pipeline by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Delete pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
    get:
      description: Returns pipeline detail. With query includeRelatedObjects=true
        returns pipeline, sourceReader, sourceConnector, and optional destinationConnector;
        otherwise returns FullPipeline only.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: includeRelatedObjects
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineDetailResponse'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get pipeline by UUID
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates an existing pipeline by UUID.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /pipelines/{uuid}/backfill/cancel:
    post:
      description: Cancels backfilling for the given table UUIDs and/or history table
        UUIDs.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCancelBackfillRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Cancel backfill
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /pipelines/{uuid}/detect-schema-changes:
    post:
      description: Enqueues a background job that checks the pipeline's source database
        for new, removed, or altered tables. If the pipeline has auto-replicate or
        auto-history mode enabled, any newly discovered tables will be added to the
        pipeline automatically. An email summary is sent if changes are detected.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Detect schema changes
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /pipelines/{uuid}/start:
    post:
      description: 'Starts or resumes a pipeline. Optional body: keepPaused, disableBackFill.'
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineStartRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "500":
          description: Internal Server Error
      summary: Start pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /pipelines/{uuid}/status:
    post:
      description: Changes the status of a pipeline (e.g. running, paused). Validates
        the pipeline before resuming and deploys the configuration change.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineUpdateStatusResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
      summary: Update pipeline status
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /pipelines/{uuid}/update-with-source-reader:
    post:
      description: Updates pipeline and optionally its source reader in one request.
        Accepts gzip-encoded body.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateWithSourceReaderRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineUpdateWithSourceReaderResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update pipeline with source reader
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /pipelines/create-from-source:
    post:
      description: Creates a new pipeline from a source type or existing source connector
        UUID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCreateFromSourceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create pipeline from source
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /pipelines/validate-unsaved-destination:
    post:
      description: Validates destination configuration without persisting. Returns
        204 on success or 200 with error message on validation failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineValidateUnsavedDestinationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterValidateErrorResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Validate unsaved destination
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /pipelines/validate-unsaved-source:
    post:
      description: Validates source reader and connector configuration without persisting.
        Returns 204 on success or 200 with error message on validation failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineValidateUnsavedSourceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterValidateErrorResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Validate unsaved source
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /privatelink-connections:
    post:
      description: Creates a new PrivateLink connection for the authenticated company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPrivateLinkConnectionCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /privatelink-connections/{uuid}:
    delete:
      description: Permanently deletes a PrivateLink connection by UUID. This action
        cannot be undone and will remove the connection from your account.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
    get:
      description: Retrieves the details of a PrivateLink connection by UUID, including
        its status, VPC service name, region, DNS entry, and availability zones.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates an existing PrivateLink connection by UUID. The name can
        always be updated. The config fields (region / VPC service name / data plane
        / availability zones) are only mutable while the connection is under review
        or errored — once it is being provisioned or live they are immutable.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPrivateLinkConnectionUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /source-readers:
    get:
      description: Lists all source readers for the authenticated company.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PayloadsSourceReader'
                type: array
          description: OK
        "500":
          description: Internal Server Error
      summary: List source readers
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Creates a new source reader for the authenticated company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /source-readers/{uuid}:
    delete:
      description: Permanently deletes a source reader by UUID. The source reader
        must not be associated with any active pipelines before deletion.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: false
    get:
      description: Retrieves the details of a source reader by UUID, including its
        configuration, status, connector association, and table settings.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates an existing source reader by UUID. You can modify the name,
        settings, table configuration, and shared status of the source reader.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsSourceReader'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /source-readers/{uuid}/deploy:
    post:
      description: Deploys a shared source reader to the data plane. The source reader
        must be shared and pass validation before it can be deployed.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Deploy a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /source-readers/{uuid}/status:
    post:
      description: Changes the status of a shared source reader (e.g. running, paused).
        Only shared source readers are supported; for non-shared source readers, use
        the pipeline status endpoint instead.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderUpdateStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update source reader status
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: true
        readOnlyHint: false
  /source-readers/validate-unsaved:
    post:
      description: Validates a source reader configuration without persisting it.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderValidateUnsavedRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterSourceReaderValidateUnsavedResponse'
          description: OK
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Validate an unsaved source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: true
        readOnlyHint: true
  /ssh-tunnels:
    post:
      description: Creates a new SSH tunnel for the authenticated company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSSHTunnelCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
  /ssh-tunnels/{uuid}:
    delete:
      description: Permanently deletes an SSH tunnel by UUID. The tunnel must not
        be in use by any connectors or pipelines before it can be deleted.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: true
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
    get:
      description: Retrieves the details of an SSH tunnel by UUID, including its host,
        port, username, public key, and whether it is currently in use.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: true
        openWorldHint: false
        readOnlyHint: true
    post:
      description: Updates an existing SSH tunnel by UUID. You can modify the name,
        host, port, and username. Changes will mark associated pipelines as having
        undeployed changes.
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsSSHTunnel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        idempotentHint: false
        openWorldHint: false
        readOnlyHint: false
webhooks:
  backfill.completed:
    post:
      description: Backfill completed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillCompleted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  backfill.failed:
    post:
      description: Backfill failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  backfill.started:
    post:
      description: Backfill started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  connection.failed:
    post:
      description: Connection failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookConnectionFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.discovered:
    post:
      description: Database discovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseDiscovered'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.discovery_failed:
    post:
      description: Database discovery failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseDiscovery_failed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.removed:
    post:
      description: Database removed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseRemoved'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  ddl.applied:
    post:
      description: DDL applied
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDdlApplied'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  ddl.seen:
    post:
      description: DDL seen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDdlSeen'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.completed:
    post:
      description: Deduplication completed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeCompleted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.failed:
    post:
      description: Deduplication failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.started:
    post:
      description: Deduplication started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dek.generated:
    post:
      description: Data Encryption Key (DEK) generated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDekGenerated'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.error:
    post:
      description: Replication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationError'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.failed:
    post:
      description: Replication failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.started:
    post:
      description: Replication started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  row.skipped:
    post:
      description: Row skipped
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookRowSkipped'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
components:
  schemas:
    EnumsConnectorSlug:
      enum:
      - api
      - bigquery
      - clickhouse
      - cockroach
      - databricks
      - documentdb
      - delta
      - dynamodb
      - gcs
      - iceberg
      - keyspaces
      - mongodb
      - motherduck
      - mssql
      - mysql
      - oracle
      - planetscale
      - postgresql
      - redis
      - redshift
      - s3
      - snowflake
      type: string
    EnumsPipelineStatus:
      enum:
      - draft
      - paused
      - transfer paused
      - running
      type: string
    EnumsSourceReaderStatus:
      enum:
      - draft
      - paused
      - running
      type: string
    ListResponseBodyColumnHashingSalt:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsColumnHashingSalt'
          type: array
      required:
      - items
      type: object
    ListResponseBodyConnectorTable:
      properties:
        items:
          items:
            $ref: '#/components/schemas/RouterConnectorTable'
          type: array
      required:
      - items
      type: object
    ListResponseBodyDataCatalogMatch:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsDataCatalogMatch'
          type: array
      required:
      - items
      type: object
    ListResponseBodyEncryptionKey:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsEncryptionKey'
          type: array
      required:
      - items
      type: object
    ListResponseBodyLightPipeline:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsLightPipeline'
          type: array
      required:
      - items
      type: object
    ListResponseBodyPostgresPublication:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsPostgresPublication'
          type: array
      required:
      - items
      type: object
    PayloadsAdvancedPipelineSettingsPayload:
      properties:
        appendOnly:
          type:
          - "null"
          - boolean
        autoEnableHistoryForNewTables:
          type:
          - "null"
          - boolean
        autoReplicateIgnoreRegex:
          type:
          - "null"
          - string
        autoReplicateNewTables:
          type:
          - "null"
          - boolean
        bigQueryReservation:
          type:
          - "null"
          - string
        bufferRows:
          type:
          - "null"
          - integer
        castAllColumnsToString:
          type:
          - "null"
          - boolean
        defaultSourceSchema:
          type:
          - "null"
          - string
        disableAlerts:
          type:
          - "null"
          - boolean
        dropDeletedColumns:
          type:
          - "null"
          - boolean
        dynamoDBBackfillConfig:
          $ref: '#/components/schemas/PayloadsDynamoDBSnapshotConfig'
        enableSoftDelete:
          type:
          - "null"
          - boolean
        flushIntervalSeconds:
          type:
          - "null"
          - integer
        flushSizeKb:
          type:
          - "null"
          - integer
        forceUTCTimezone:
          type:
          - "null"
          - boolean
        includeArtieOperationColumn:
          type:
          - "null"
          - boolean
        includeArtieUpdatedAtColumn:
          type:
          - "null"
          - boolean
        includeDatabaseUpdatedAtColumn:
          type:
          - "null"
          - boolean
        includeFullSourceTableNameColumn:
          type:
          - "null"
          - boolean
        includeFullSourceTableNameColumnAsPrimaryKey:
          type:
          - "null"
          - boolean
        includeSourceMetadataColumn:
          type:
          - "null"
          - boolean
        maxConcurrentSnapshots:
          minimum: 0
          type:
          - "null"
          - integer
        snowpipeStreamingMaxChannels:
          type:
          - "null"
          - integer
        splitEventsByType:
          type:
          - "null"
          - boolean
        stagingSchema:
          type:
          - "null"
          - string
        staticColumns:
          items:
            $ref: '#/components/schemas/PayloadsStaticColumn'
          type:
          - "null"
          - array
        truncateExceededValues:
          type:
          - "null"
          - boolean
        turboLatencyThresholdMinutes:
          type:
          - "null"
          - integer
        turboRowThreshold:
          type:
          - "null"
          - integer
        turboWarehouse:
          type:
          - "null"
          - string
        useBQBatchPriority:
          type:
          - "null"
          - boolean
        useBigNumericForVariableNumeric:
          type:
          - "null"
          - boolean
        useNewStringMethod:
          type:
          - "null"
          - boolean
        useSnowpipeStreaming:
          type:
          - "null"
          - boolean
        writeRawBinaryValues:
          type:
          - "null"
          - boolean
      type: object
    PayloadsAdvancedTableSettingsPayload:
      properties:
        alias:
          type:
          - "null"
          - string
        bufferRows:
          type:
          - "null"
          - integer
        columnsToCompress:
          items:
            type: string
          type: array
        columnsToEncrypt:
          items:
            type: string
          type: array
        columnsToHash:
          items:
            type: string
          type: array
        ctidSettings:
          $ref: '#/components/schemas/PayloadsCTIDSettings'
        encryptJSONBColumns:
          type:
          - "null"
          - boolean
        excludeColumns:
          items:
            type: string
          type: array
        flushIntervalSeconds:
          type:
          - "null"
          - integer
        flushSizeKb:
          type:
          - "null"
          - integer
        includeColumns:
          items:
            type: string
          type: array
        k8sRequestCPU:
          minimum: 0
          type:
          - "null"
          - integer
        k8sRequestMemoryMB:
          minimum: 0
          type:
          - "null"
          - integer
        mergePredicates:
          items:
            $ref: '#/components/schemas/PayloadsMergePredicates'
          type: array
        msmFlushCount:
          minimum: 0
          type:
          - "null"
          - integer
        primaryKeysOverride:
          items:
            type: string
          type:
          - array
          - "null"
        rangeSettings:
          $ref: '#/components/schemas/PayloadsRangeSettings'
        shouldBackfillHistoryTable:
          type:
          - "null"
          - boolean
        skipBackfill:
          type:
          - "null"
          - boolean
        skipDelete:
          type:
          - "null"
          - boolean
        skipNoOpUpdates:
          type:
          - "null"
          - boolean
        softPartitioning:
          $ref: '#/components/schemas/PayloadsSoftPartitioning'
        streamARN:
          type:
          - "null"
          - string
        unifyAcrossDatabases:
          type:
          - "null"
          - boolean
        unifyAcrossSchemas:
          type:
          - "null"
          - boolean
      type: object
    PayloadsAzureBlobStorageConfig:
      properties:
        accountURL:
          type: string
        containerName:
          type: string
        sasToken:
          type: string
      type: object
    PayloadsBigQuerySettings:
      properties:
        partitionBy:
          type: string
        partitionField:
          type: string
        partitionType:
          type: string
      type: object
    PayloadsCTIDSettings:
      properties:
        chunkSize:
          minimum: 0
          type: integer
        enabled:
          type: boolean
        maxParallelism:
          minimum: 0
          type: integer
      type: object
    PayloadsCatalogTableProperty:
      properties:
        isDate:
          type: boolean
        key:
          type: string
        value: {}
      type: object
    PayloadsColumnHashingSalt:
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        name:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - name
      type: object
    PayloadsColumnHashingSaltDetail:
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        name:
          type: string
        salt:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - name
      - salt
      type: object
    PayloadsCompactionConfig:
      properties:
        enabled:
          type: boolean
        everySeconds:
          type: integer
        quietWindow:
          $ref: '#/components/schemas/PayloadsCompactionQuietWindow'
      type: object
    PayloadsCompactionQuietWindow:
      properties:
        end:
          type: string
        start:
          type: string
      type: object
    PayloadsConnectorColumn:
      properties:
        metadata:
          $ref: '#/components/schemas/PayloadsConnectorColumnMetadata'
        name:
          type: string
      type: object
    PayloadsConnectorColumnMetadata:
      properties:
        comment:
          type: string
        dataType:
          type: string
        defaultValue:
          type:
          - "null"
          - string
        isPrimaryKey:
          type:
          - "null"
          - boolean
        notNull:
          type: boolean
      type: object
    PayloadsConnectorFetchDatabasesResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsDatabaseListItem'
          type:
          - array
          - "null"
        metadata:
          items:
            $ref: '#/components/schemas/PayloadsCatalogTableProperty'
          type: array
      type: object
    PayloadsConnectorPayload:
      properties:
        dataPlaneName:
          type: string
        defaultDatabase:
          type:
          - "null"
          - string
        environmentUUID:
          format: uuid
          type:
          - "null"
          - string
        label:
          type: string
        privateLinkUUID:
          format: uuid
          type:
          - "null"
          - string
        sharedConfig:
          additionalProperties: {}
          type:
          - object
          - "null"
        snapshotPrivateLinkUUID:
          format: uuid
          type:
          - "null"
          - string
        sshTunnelUUID:
          format: uuid
          type:
          - "null"
          - string
        type:
          type: string
        uuid:
          type: string
      type: object
    PayloadsConnectorTableDetailResponse:
      properties:
        columns:
          items:
            $ref: '#/components/schemas/PayloadsConnectorColumn'
          type: array
        createdAt:
          format: date-time
          type:
          - "null"
          - string
        isView:
          type: boolean
        metadata:
          items:
            $ref: '#/components/schemas/PayloadsCatalogTableProperty'
          type: array
        modifiedAt:
          format: date-time
          type:
          - "null"
          - string
        name:
          type: string
        schema:
          type: string
        unreadable:
          type: boolean
      type: object
    PayloadsDataCatalogDatabase:
      properties:
        name:
          type: string
      type: object
    PayloadsDataCatalogMatch:
      properties:
        connectorUUID:
          format: uuid
          type: string
        object:
          $ref: '#/components/schemas/PayloadsDataCatalogMatchedObject'
        score:
          format: double
          type: number
      type: object
    PayloadsDataCatalogMatchedObject:
      properties:
        database:
          $ref: '#/components/schemas/PayloadsDataCatalogDatabase'
        schema:
          $ref: '#/components/schemas/PayloadsDataCatalogSchema'
        table:
          $ref: '#/components/schemas/PayloadsDataCatalogTable'
      type: object
    PayloadsDataCatalogSchema:
      properties:
        databaseName:
          type: string
        name:
          type: string
      type: object
    PayloadsDataCatalogSearchRequest:
      properties:
        query:
          type: string
      type: object
    PayloadsDataCatalogTable:
      properties:
        databaseName:
          type: string
        name:
          type: string
        schemaName:
          type: string
      type: object
    PayloadsDatabaseListItem:
      properties:
        name:
          type: string
      type: object
    PayloadsDynamoDBSnapshotConfig:
      properties:
        bucket:
          type: string
        enabled:
          type: boolean
        exportArn:
          type: string
        optionalFolder:
          type: string
      type: object
    PayloadsEncryptionKey:
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        kmsKeyUUID:
          format: uuid
          type:
          - "null"
          - string
        name:
          type: string
        type:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - name
      - type
      type: object
    PayloadsEncryptionKeyDetail:
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        key:
          type: string
        kmsKeyUUID:
          format: uuid
          type:
          - "null"
          - string
        name:
          type: string
        type:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - name
      - type
      - key
      type: object
    PayloadsFullConnector:
      properties:
        companyUUID:
          format: uuid
          type: string
        connectionLabel:
          type: string
        createdAt:
          format: date-time
          type: string
        dataPlaneName:
          type:
          - "null"
          - string
        defaultDatabase:
          type: string
        environmentUUID:
          format: uuid
          type: string
        isValid:
          type: boolean
        label:
          type: string
        privateLinkUUID:
          format: uuid
          type:
          - "null"
          - string
        sharedConfig: {}
        snapshotPrivateLinkUUID:
          format: uuid
          type:
          - "null"
          - string
        sshTunnelUUID:
          format: uuid
          type:
          - "null"
          - string
        type:
          $ref: '#/components/schemas/EnumsConnectorSlug'
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - label
      - uuid
      - createdAt
      - updatedAt
      - type
      - companyUUID
      - environmentUUID
      - isValid
      type: object
    PayloadsFullPipeline:
      properties:
        advancedSettings:
          $ref: '#/components/schemas/PayloadsPipelineAdvancedSettings'
        columnHashingSaltUUID:
          format: uuid
          type:
          - "null"
          - string
        companyUUID:
          format: uuid
          type: string
        createdAt:
          format: date-time
          type: string
        dataPlaneName:
          type: string
        destinationUUID:
          format: uuid
          type:
          - "null"
          - string
        encryptionKeyUUID:
          format: uuid
          type:
          - "null"
          - string
        environmentUUID:
          format: uuid
          type: string
        hasBackfillingTables:
          type: boolean
        hasUndeployedChanges:
          type: boolean
        isDeploying:
          type: boolean
        lastDeployedAt:
          format: date-time
          type:
          - "null"
          - string
        lastUpdatedAt:
          format: date-time
          type: string
        name:
          type: string
        snowflakeEcoScheduleUUID:
          format: uuid
          type:
          - "null"
          - string
        sourceReaderUUID:
          format: uuid
          type: string
        sourceType:
          $ref: '#/components/schemas/EnumsConnectorSlug'
        specificDestCfg:
          $ref: '#/components/schemas/PayloadsSpecificConfig'
        status:
          $ref: '#/components/schemas/EnumsPipelineStatus'
        tables:
          items:
            $ref: '#/components/schemas/PayloadsTable'
          type: array
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - companyUUID
      - dataPlaneName
      - environmentUUID
      - name
      - createdAt
      - lastUpdatedAt
      - isDeploying
      - sourceType
      - hasUndeployedChanges
      - tables
      - specificDestCfg
      - advancedSettings
      type: object
    PayloadsIngestionAPIKey:
      properties:
        companyUUID:
          format: uuid
          type: string
        createdAt:
          format: date-time
          type: string
        expiresAt:
          format: date-time
          type:
          - "null"
          - string
        last4:
          type: string
        name:
          type: string
        sourceReaderUUID:
          format: uuid
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - createdAt
      - updatedAt
      - name
      - last4
      - sourceReaderUUID
      - companyUUID
      type: object
    PayloadsLightPipeline:
      properties:
        columnHashingSaltUUID:
          format: uuid
          type:
          - "null"
          - string
        companyUUID:
          format: uuid
          type: string
        createdAt:
          format: date-time
          type: string
        dataPlaneName:
          type: string
        destinationUUID:
          format: uuid
          type:
          - "null"
          - string
        encryptionKeyUUID:
          format: uuid
          type:
          - "null"
          - string
        environmentUUID:
          format: uuid
          type: string
        hasBackfillingTables:
          type: boolean
        hasUndeployedChanges:
          type: boolean
        isDeploying:
          type: boolean
        lastDeployedAt:
          format: date-time
          type:
          - "null"
          - string
        lastUpdatedAt:
          format: date-time
          type: string
        name:
          type: string
        snowflakeEcoScheduleUUID:
          format: uuid
          type:
          - "null"
          - string
        sourceReaderUUID:
          format: uuid
          type: string
        sourceType:
          $ref: '#/components/schemas/EnumsConnectorSlug'
        status:
          $ref: '#/components/schemas/EnumsPipelineStatus'
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - companyUUID
      - dataPlaneName
      - environmentUUID
      - name
      - createdAt
      - lastUpdatedAt
      - isDeploying
      - sourceType
      - hasUndeployedChanges
      type: object
    PayloadsMergePredicates:
      properties:
        partitionBy:
          type: string
        partitionField:
          type: string
        partitionType:
          type: string
      type: object
    PayloadsPipelineAdvancedSettings:
      properties:
        appendOnly:
          type: boolean
        autoEnableHistoryForNewTables:
          type: boolean
        autoReplicateIgnoreRegex:
          type: string
        autoReplicateNewTables:
          type: boolean
        bigQueryReservation:
          type: string
        bufferRows:
          type: integer
        castAllColumnsToString:
          type: boolean
        defaultSourceSchema:
          type: string
        disableAlerts:
          type: boolean
        dropDeletedColumns:
          type: boolean
        dynamoDBBackfillConfig:
          $ref: '#/components/schemas/PayloadsDynamoDBSnapshotConfig'
        enableSoftDelete:
          type: boolean
        flushIntervalSeconds:
          type: integer
        flushSizeKb:
          type: integer
        forceUTCTimezone:
          type: boolean
        includeArtieOperationColumn:
          type: boolean
        includeArtieUpdatedAtColumn:
          type: boolean
        includeDatabaseUpdatedAtColumn:
          type: boolean
        includeFullSourceTableNameColumn:
          type: boolean
        includeFullSourceTableNameColumnAsPrimaryKey:
          type: boolean
        includeSourceMetadataColumn:
          type: boolean
        maxConcurrentSnapshots:
          minimum: 0
          type: integer
        nullOutInvalidValues:
          type: boolean
        reuseStagingTable:
          type: boolean
        sessionDriverMemory:
          type: string
        sessionExecutorMemory:
          type: string
        snowpipeStreamingMaxChannels:
          type: integer
        splitEventsByType:
          type: boolean
        stagingSchema:
          type: string
        staticColumns:
          items:
            $ref: '#/components/schemas/PayloadsStaticColumn'
          type:
          - array
          - "null"
        tablesPerTransferPod:
          minimum: 0
          type: integer
        truncateExceededValues:
          type: boolean
        turboLatencyThresholdMinutes:
          type: integer
        turboRowThreshold:
          type: integer
        turboWarehouse:
          type: string
        useBQBatchPriority:
          type: boolean
        useBigNumericForVariableNumeric:
          type: boolean
        useNewStringMethod:
          type:
          - "null"
          - boolean
        useSnowpipeStreaming:
          type: boolean
        waitForTopics:
          type: boolean
        writeRawBinaryValues:
          type: boolean
      type: object
    PayloadsPipelinePayload:
      properties:
        advancedSettings:
          $ref: '#/components/schemas/PayloadsAdvancedPipelineSettingsPayload'
        columnHashingSaltUUID:
          format: uuid
          type:
          - "null"
          - string
        dataPlaneName:
          type: string
        destinationUUID:
          format: uuid
          type:
          - "null"
          - string
        encryptionKeyUUID:
          format: uuid
          type:
          - "null"
          - string
        name:
          type: string
        snowflakeEcoScheduleUUID:
          format: uuid
          type:
          - "null"
          - string
        sourceReaderUUID:
          format: uuid
          type: string
        specificDestCfg:
          $ref: '#/components/schemas/PayloadsSpecificConfig'
        tables:
          items:
            $ref: '#/components/schemas/PayloadsTablePayload'
          type:
          - array
          - "null"
      type: object
    PayloadsPostgresPublication:
      properties:
        allTables:
          type: boolean
        name:
          type: string
        publishViaPartitionRoot:
          type: boolean
      required:
      - name
      type: object
    PayloadsPrivateLinkConnection:
      properties:
        approvedAt:
          format: date-time
          type:
          - "null"
          - string
        availabilityZoneIds:
          items:
            type: string
          type: array
        companyUUID:
          format: uuid
          type: string
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        dataPlaneName:
          type:
          - "null"
          - string
        dnsEntry:
          type: string
        environmentUUID:
          format: uuid
          type: string
        name:
          type: string
        provisioningError:
          type: string
        region:
          type: string
        status:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
        vpcEndpointId:
          type: string
        vpcServiceName:
          type: string
      required:
      - uuid
      - companyUUID
      - environmentUUID
      - createdAt
      - updatedAt
      - name
      - vpcServiceName
      - status
      - region
      - dnsEntry
      - availabilityZoneIds
      type: object
    PayloadsRangeSettings:
      properties:
        batchSize:
          minimum: 0
          type: integer
        chunksSize:
          minimum: 0
          type: integer
        enabled:
          type: boolean
        maxParallelism:
          minimum: 0
          type: integer
      type: object
    PayloadsSSHTunnel:
      properties:
        companyUUID:
          format: uuid
          type: string
        createdAt:
          format: date-time
          type: string
        environmentUUID:
          format: uuid
          type: string
        host:
          type: string
        isInUse:
          type:
          - "null"
          - boolean
        name:
          type: string
        port:
          type: integer
        publicKey:
          type: string
        updatedAt:
          format: date-time
          type: string
        username:
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - companyUUID
      - environmentUUID
      - name
      - host
      - port
      - publicKey
      - username
      type: object
    PayloadsSeenTableColumn:
      properties:
        metadata:
          $ref: '#/components/schemas/PayloadsSeenTableColumnMetadata'
        name:
          type: string
      required:
      - name
      - metadata
      type: object
    PayloadsSeenTableColumnMetadata:
      properties:
        dataType:
          type: string
        defaultValue:
          type:
          - "null"
          - string
        isPrimaryKey:
          type:
          - "null"
          - boolean
        notNull:
          type: boolean
      required:
      - dataType
      - notNull
      type: object
    PayloadsSoftPartitioning:
      properties:
        enabled:
          type: boolean
        maxPartitions:
          type: integer
        partitionColumn:
          type: string
        partitionFrequency:
          type: string
        partitionSchema:
          type: string
      type: object
    PayloadsSourceReader:
      properties:
        apiBaseURL:
          type: string
        companyUUID:
          format: uuid
          type: string
        connectorUUID:
          format: uuid
          type: string
        containerName:
          type: string
        createdAt:
          format: date-time
          type: string
        dataPlaneName:
          type: string
        database:
          type: string
        environmentUUID:
          format: uuid
          type: string
        isShared:
          type:
          - "null"
          - boolean
        isValid:
          type: boolean
        name:
          type: string
        settings:
          $ref: '#/components/schemas/PayloadsSourceReaderSettingsPayload'
        status:
          $ref: '#/components/schemas/EnumsSourceReaderStatus'
        tablesConfig:
          $ref: '#/components/schemas/PayloadsSourceReaderTablesConfig'
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      required:
      - uuid
      - name
      - companyUUID
      - dataPlaneName
      - environmentUUID
      - connectorUUID
      - status
      - isValid
      - database
      - containerName
      - settings
      type: object
    PayloadsSourceReaderSettingsPayload:
      properties:
        archiveLogPassword:
          type:
          - "null"
          - string
        archiveLogPath:
          type:
          - "null"
          - string
        azureBlobStorageConfig:
          $ref: '#/components/schemas/PayloadsAzureBlobStorageConfig'
        backfillBatchSize:
          minimum: 0
          type:
          - "null"
          - integer
        compositeTypesAsText:
          type:
          - "null"
          - boolean
        databasesToSync:
          items:
            type: string
          type:
          - "null"
          - array
        disableAutoFetchTables:
          type:
          - "null"
          - boolean
        disableFullDocumentBeforeChange:
          type:
          - "null"
          - boolean
        disableNoCursorTimeout:
          type:
          - "null"
          - boolean
        enableClientSideFullDocumentLookup:
          type:
          - "null"
          - boolean
        enableHeartbeats:
          type:
          - "null"
          - boolean
        enableSchemaHistoryCompaction:
          type:
          - "null"
          - boolean
        maxConnIdleTimeSeconds:
          type:
          - "null"
          - integer
        messageCompression:
          enum:
          - gzip
          - ""
          type:
          - "null"
          - string
        mssqlChangeTrackingConcurrency:
          type:
          - "null"
          - integer
        mssqlChangeTrackingMaxIdleConns:
          type:
          - "null"
          - integer
        mssqlChangeTrackingPollIntervalMs:
          minimum: 0
          type:
          - "null"
          - integer
        mssqlReplicationMethod:
          type:
          - "null"
          - string
        oneTopicPerSchema:
          type:
          - "null"
          - boolean
        publicationAutoCreateMode:
          type:
          - "null"
          - string
        publicationNameOverride:
          type:
          - "null"
          - string
        publishViaPartitionRoot:
          type:
          - "null"
          - boolean
        replicationSlotOverride:
          type:
          - "null"
          - string
        unifyAcrossDatabases:
          type:
          - "null"
          - boolean
        unifyAcrossSchemas:
          type:
          - "null"
          - boolean
        unifyAcrossSchemasMaxParallelism:
          maximum: 3
          minimum: 0
          type:
          - "null"
          - integer
        unifyAcrossSchemasRegex:
          type:
          - "null"
          - string
        useAdvanceOnPrimaryKeepAlive:
          type:
          - "null"
          - boolean
        useNumericTypesForMoney:
          type:
          - "null"
          - boolean
        useReaderForOracleStreaming:
          type:
          - "null"
          - boolean
      type: object
    PayloadsSourceReaderTable:
      properties:
        excludeColumns:
          items:
            type: string
          type: array
        includeColumns:
          items:
            type: string
          type: array
        name:
          type: string
        schema:
          type: string
        unifyAcrossDatabases:
          type: boolean
        unifyAcrossSchemas:
          type: boolean
      type: object
    PayloadsSourceReaderTablesConfig:
      additionalProperties:
        $ref: '#/components/schemas/PayloadsSourceReaderTable'
      type:
      - "null"
      - object
    PayloadsSpecificConfig:
      properties:
        bucketName:
          type: string
        checkpointInterval:
          type: integer
        compaction:
          $ref: '#/components/schemas/PayloadsCompactionConfig'
        containerName:
          type: string
        database:
          type: string
        dynamicallyCreateNamespaces:
          type: boolean
        externalStageName:
          type: string
        externalStageS3Bucket:
          type: string
        externalStageS3Prefix:
          type: string
        folderName:
          type: string
        schema:
          type: string
        schemaNamePrefix:
          type: string
        tableNameSeparator:
          type: string
        useSameSchemaAsSource:
          type: boolean
      type: object
    PayloadsStaticColumn:
      properties:
        column:
          type: string
        value:
          type: string
      type: object
    PayloadsTable:
      properties:
        advancedSettings:
          $ref: '#/components/schemas/PayloadsTableAdvancedSettings'
        backfillStage:
          type: string
        createdAt:
          format: date-time
          type: string
        destinationTableName:
          type: string
        disableReplication:
          type: boolean
        enableHistoryMode:
          type: boolean
        historyTableBackfillStage:
          type: string
        historyTableStatus:
          type: string
        individualDeployment:
          type: boolean
        name:
          type: string
        schema:
          type: string
        status:
          type: string
        updatedAt:
          format: date-time
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    PayloadsTableAdvancedSettings:
      properties:
        alias:
          type: string
        backfillFromDatabases:
          items:
            type: string
          type:
          - array
          - "null"
        backfillFromSchemas:
          items:
            type: string
          type:
          - array
          - "null"
        bigQueryPartitionSettings:
          $ref: '#/components/schemas/PayloadsBigQuerySettings'
        bufferRows:
          type: integer
        columnsToCompress:
          items:
            type: string
          type: array
        columnsToEncrypt:
          items:
            type: string
          type: array
        columnsToHash:
          items:
            type: string
          type: array
        ctidSettings:
          $ref: '#/components/schemas/PayloadsCTIDSettings'
        encryptJSONBColumns:
          type: boolean
        endingPrimaryKey:
          type: string
        excludeColumns:
          items:
            type: string
          type: array
        flushIntervalSeconds:
          type: integer
        flushSizeKb:
          type: integer
        historyTableBackfillFromSchemas:
          items:
            type: string
          type:
          - array
          - "null"
        includeColumns:
          items:
            type: string
          type: array
        k8sRequestCPU:
          minimum: 0
          type: integer
        k8sRequestMemoryMB:
          minimum: 0
          type: integer
        mergePredicates:
          items:
            $ref: '#/components/schemas/PayloadsMergePredicates'
          type: array
        msmFlushCount:
          minimum: 0
          type: integer
        primaryKeysOverride:
          items:
            type: string
          type:
          - array
          - "null"
        rangeSettings:
          $ref: '#/components/schemas/PayloadsRangeSettings'
        shouldBackfillHistoryTable:
          type:
          - "null"
          - boolean
        skipBackfill:
          type: boolean
        skipDelete:
          type: boolean
        skipNoOpUpdates:
          type: boolean
        softPartitioning:
          $ref: '#/components/schemas/PayloadsSoftPartitioning'
        startingPrimaryKey:
          type: string
        streamARN:
          type: string
        unifyAcrossDatabases:
          type: boolean
        unifyAcrossSchemas:
          type: boolean
      type: object
    PayloadsTablePayload:
      properties:
        advancedSettings:
          $ref: '#/components/schemas/PayloadsAdvancedTableSettingsPayload'
        disableReplication:
          type: boolean
        enableHistoryMode:
          type: boolean
        individualDeployment:
          type:
          - "null"
          - boolean
        name:
          type: string
        schema:
          type: string
        status:
          type:
          - "null"
          - string
        uuid:
          format: uuid
          type: string
      type: object
    PayloadsWebhookBackfillCompleted:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - backfill.completed
            type: string
          properties:
            properties:
              duration_seconds:
                description: Elapsed time in seconds.
                type: number
              rows_written:
                description: Total rows written during the backfill.
                type: integer
              schema:
                description: Schema containing the table that finished backfilling
                  (scrubbed).
                type: string
              table:
                description: Table that finished backfilling (scrubbed).
                type: string
            required:
            - table
            type: object
        required:
        - event
        - properties
        type: object
      description: Backfill completed
      examples:
      - delivery_metadata:
          attempt: 1
        destination: snowflake
        environment_name: Production
        environment_uuid: 33333333-3333-3333-3333-333333333333
        event: backfill.completed
        message: Backfill completed
        pipelines:
        - name: Production Postgres → Snowflake
          uuid: 22222222-2222-2222-2222-222222222222
        properties:
          duration_seconds: 842.31
          rows_written: 850000
          schema: public
          table: orders
        severity: info
        source: postgresql
        source_reader_uuid: 11111111-1111-1111-1111-111111111111
        timestamp: "2026-06-20T12:00:00Z"
      title: backfill.completed
    PayloadsWebhookBackfillFailed:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - backfill.failed
            type: string
          properties:
            properties:
              error:
                description: Full error string (scrubbed).
                type: string
              rows_written:
                description: Rows written before the failure.
                type: integer
              schema:
                description: Schema containing the table whose backfill failed (scrubbed).
                type: string
              table:
                description: Table whose backfill failed (scrubbed).
                type: string
            required:
            - table
            - error
            type: object
        required:
        - event
        - properties
        type: object
      description: Backfill failed
      examples:
      - delivery_metadata:
          attempt: 1
        destination: snowflake
        environment_name: Production
        environment_uuid: 33333333-3333-3333-3333-333333333333
        event: backfill.failed
        message: Backfill failed
        pipelines:
        - name: Production Postgres → Snowflake
          uuid: 22222222-2222-2222-2222-222222222222
        properties:
          error: read tcp connection reset by peer
          rows_written: 420000
          schema: public
          table: orders
        severity: error
        source: postgresql
        source_reader_uuid: 11111111-1111-1111-1111-111111111111
        timestamp: "2026-06-20T12:00:00Z"
      title: backfill.failed
    PayloadsWebhookBackfillStarted:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - backfill.started
            type: string
          properties:
            properties:
              schema:
                description: Schema containing the table being backfilled (scrubbed).
                type: string
              table:
                description: Table being backfilled (scrubbed).
                type: string
            required:
            - table
            type: object
        required:
        - event
        - properties
        type: object
      description: Backfill started
      examples:
      - delivery_metadata:
          attempt: 1
        destination: snowflake
        environment_name: Production
        environment_uuid: 33333333-3333-3333-3333-333333333333
        event: backfill.started
        message: Backfill started
        pipelines:
        - name: Production Postgres → Snowflake
          uuid: 22222222-2222-2222-2222-222222222222
        properties:
          schema: public
          table: orders
        severity: info
        source: postgresql
        source_reader_uuid: 11111111-1111-1111-1111-111111111111
        timestamp: "2026-06-20T12:00:00Z"
      title: backfill.started
    PayloadsWebhookConnectionFailed:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - connection.failed
            type: string
          properties:
            properties:
              error:
                description: Full error string (scrubbed).
                type: string
            required:
            - error
            type: object
        required:
        - event
        - properties
        type: object
      deprecated: true
      description: Connection failed
      examples:
      - delivery_metadata:
          attempt: 1
        destination: snowflake
        environment_name: Production
        environment_uuid: 33333333-3333-3333-3333-333333333333
        event: connection.failed
        message: Connection failed
        pipelines:
        - name: Production Postgres → Snowflake
          uuid: 22222222-2222-2222-2222-222222222222
        properties:
          error: 'dial tcp: connection refused'
        severity: error
        source: postgresql
        source_reader_uuid: 11111111-1111-1111-1111-111111111111
        timestamp: "2026-06-20T12:00:00Z"
      title: connection.failed
    PayloadsWebhookDatabaseDiscovered:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - database.discovered
            type: string
          properties:
            properties:
              database:
                description: Name of the database that was discovered (scrubbed).
                type: string
            required:
            - database
            type: object
        required:
        - event
        - properties
        type: object
      description: Database discovered
      examples:
      - delivery_metadata:
          attempt: 1
        destination: snowflake
        environment_name: Production
        environment_uuid: 33333333-3333-3333-3333-333333333333
        event: database.discovered
        message: Database discovered
        pipelines:
        - name: Production Postgres → Snowflake
          uuid: 22222222-2222-2222-2222-222222222222
        properties:
          database: AdventureWorks
        severity: info
        source: postgresql
        source_reader_uuid: 11111111-1111-1111-1111-111111111111
        timestamp: "2026-06-20T12:00:00Z"
      title: database.discovered
    PayloadsWebhookDatabaseDiscovery_failed:
      allOf:
      - $ref: '#/components/schemas/PayloadsWebhookEnvelope'
      - properties:
          event:
            enum:
            - database.discovery_failed
            type: string
          properties:
            properties:
              error:
                description: Full error string (scrubbed).
[...]
